body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  color: #555;
}

header {
  background: darkcyan;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}

.iconoweb {
  width: 6%;
  height: 100%;
  filter: drop-shadow(0 0 8px #9b9b9b);
}

h1 {
  margin-left: 20px;
  text-shadow: 2px 2px 8px #660000;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 11px;
  padding: 0;
}

nav ul form {
  margin-top: 10px;
}

.perfil {
  float: right;
  background-color: rgb(172 82 83);;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 0px burlywood;
}

.perfil:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
  cursor: pointer;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

.lidatos {
  margin: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section {
  margin: 20px;
}

section form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

form>input {
  width: 50%;
}

input,
button,
select,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #666;
  border-radius: 5px;
  width: 70%;
}

footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}
footer p{
  margin: 3px;
}

.usuarios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.usuario-card {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 0 5px 0 darkred
}

.usuario-info h3 {
  margin-top: 0;
}

.usuario-trabajos {
  margin-top: 10px;
}

.perfil-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.perfil-card {
  width: 40%;
}

.perfil-edit {
  width: 60%;
}

.imgperfil,
.imgporfolio {
  width: 34%;
  height: 22%;
  display: block;
  margin: 0 auto;
}

.eliminar {
  text-decoration: none;
  color: #fff;
  background-color: #ff0000;
  padding: 5px;
  border-radius: 5px;
}

#ocultar {
  text-decoration: none;
  color: #fff;
  background-color: darkcyan;
  padding: 5px;
  border-radius: 5px;
}

.perfil-edit {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 darkred;
  padding: 20px;
  width: 40%;
}

#q,
#submitbuscar,
input[type="submit"] {
  width: 21%;
  background-color: lightgrey;
  color: #000;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #666;
  border-radius: 5px;
}
